.bg-main-strong {
  background: #000245; 
}

.bg-main-light {
  background-color: #E4E8EF;
}

.font-main-strong {
  color: #000245;
}

.font-secondary-strong {
  color: #FF3636;
}

.font-third-strong {
  color: #FF5050;
}

.font-main-light {
  color: #FFFFFF;
}

.font-secondary-light {
  color: #E4E8EF;
}

.font-third-light {
  color: #768CAD;
}

.no-margin {
    margin: 0 !important;
}
