<nav class="container-fluid">
  <div class="row main-nav col-xs-12">
    <a class="navbar-item" href="#">
      <img class="logo" alt="Brand" src="/assets/imgs/xyz-logo.png">
    </a>
    <div class="navbar-item pull-right">
      <div class="menu">
        <i class="fa fa-bars hamburger" aria-hidden="true"></i>
        <ul>
          <li><a href="#">Report</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>