<div class="container-fluid row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-lg-push-6">
        <form>
          <div class="form-group no-margin">
              <label for="name" class="input-form-label input-form-label-first">Name</label>
              <input type="name" class="form-control input-form-field" id="name">
              <button class="settings-btn edit-btn">Edit</button>
            </div>
          <div class="form-group no-margin">
            <label for="email" class="input-form-label">Email address</label>
            <input type="email" class="form-control input-form-field" id="email">
            <button class="settings-btn edit-btn">Edit</button>
          </div>
          <div class="form-group no-margin">
            <label for="pwd" class="input-form-label">Password</label>
            <input type="password" class="form-control input-form-field" id="pwd">
            <button class="settings-btn edit-btn edit-btn-last">Edit</button>
          </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 col-lg-pull-6">
      <div class="row settings-box">
        <div class="col-xs-12">
          <span class="settings-title">The Honest Company, Inc.</span>
          <span class="settings-info">12130 Millennium Dr, Los Angeles, CA 90094</span>
          <span class="settings-info">(888) 862-8818</span>
          <span class="settings-info settings-member">Your Member ID is <span class="settings-id">791509951</span></span>
          <button class="settings-btn logout-btn">log out of xyz</button>
        </div>
      </div>
    </div>
</div>