@media only screen and (min-width: 1100px) {
    .assistance-title {
        font-size: 36pt;
    }

    .assistance-box {
        margin-top: 90px;
    }

    .about-area {
        text-align: left;
    }

    .footer-content-right {
        float: right;
    }

    .footer-content-left {
        float: left;
    }
}