.about-area {
  text-align: center;
}

.about-title {
  font-family: kaleidossmooth;
  font-size: 36pt; 
  color: #FF3636;
  margin-top: 90px;
}

.about-text-link {
  font-size: 18pt;
  font-family: merlo_neueregular;
  margin-top: 25px;
}

.about-text-link:hover {
  color: #FF5050;
}

.assistance-box {
  margin-top: 90px;
  background-color: #E4E8EF;
  border-radius: 10px 0px 0px 10px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.assistance-content {
  margin-left: 20px;
}

.assistance-title {
  font-size: 34pt;
  font-family: merlo_neuesemi_bold_italic;
  color:#000245;
}

.assitance-subtitle {
  margin-top: 30px;
  font-size: 26pt;
  font-family: merlo_neuesemi_bold_italic;
  color: #FF3636;
}

.assitance-paragraph {
  margin-top: 10px;
  font-size: 14pt;
  font-family: merlo_neueregular;
  color: #000245;
}

.assitance-paragraph-highlighted {
  color: #FF3636;
  font-family: merlo_neuesemi_bold;
}

.footer-content-right, .footer-content-left {
  float: none;
}

.footer-link {
  font-family: merlo_neueregular;
  font-size: 14pt;
  display: inline;
}

.footer-area {
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
