<div class="row" class={{if inSettings "inSettings" ""}}>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row footer-area">
        <div class="col-xs-12 col-md-4 col-lg-4 col-md-push-8 assistance-box">
            <div class="assistance-content">
            <div class="assistance-title">Need assistance?</div>
            <div class="assitance-subtitle"><i class="fa fa-phone" aria-hidden="true"></i>1-888-579-5910</div>
            <div class="assistance-paragraph">
                When calling, use member ID <span class="assitance-paragraph-highlighted">791509951</span><br>
                <span class="assitance-paragraph-highlighted">Weekdays</span> 8AM - 9PM Easter<br>
                <span class="assitance-paragraph-highlighted">Weekends</span> 12PM - 8PM Easter
            </div>
            <div class="assitance-subtitle"><i class="fa fa-envelope-o" aria-hidden="true"></i>help@xyz.com</div>
            </div>
        </div>
          
        <div class="col-xs-12 col-md-4 col-lg-4 col-md-pull-4 about-area">
            <div class="about-title">About Us</div>
            <div class="about-text-link">About XYZ</div>
            <div class="about-text-link">FAQs</div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 col-md-pull-4 about-area">
            <div class="about-title">Resources</div>
            <div class="about-text-link">Set Goals</div>
            <div class="about-text-link">XYZ Tips</div>
        </div>
      </div>
      <div class="row footer-area">
        <div class="col-xs-12 col-md-6 col-lg-6 text-center">
            <div class="footer-content-left">
                <div class="footer-link">XYZ &copy; All Right Reserved</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 text-center">
            <div class="footer-content-right">
                <div class="footer-link">Terms & Conditions</div>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <div class="footer-link">Privacy Policy</div>
            </div>
        </div>
      </div>
  </div>
</div>