<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
          <div class="col-xs-4">
              <div>About Us</div>
              <div>About XYZ</div>
              <div>FAQs</div>
          </div>
          <div class="col-xs-4">
              <div>Resources</div>
              <div>Set Goals</div>
              <div>XYZ Tips</div>
          </div>
          <div class="col-xs-4">
              
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>xyz termsAll Right reserved</div>
            <div class="pull-right">
                <ul>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
          </div>
      </div>
  </div>
</div>