.settings-btn {
    font-family: merlo_neuesemi_bold_italic;
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.edit-btn {
    margin-top: 20px;
    width: 60px;
    color: #000245;
    border: 1px solid rgba(255, 54, 54, 1);
    margin-bottom: 60px;
}

.edit-btn-last {
    margin-bottom: 60px;
}

.cancel-btn {
    color: rgba(255, 54, 54, 1);
    border: none;
    text-transform: none;
    font-family: merlo_neuemedium_italic;
}

.input-form-label {
    font-family: merlo_neuemedium;
    margin-bottom: 10px;
    color: #000245;
    font-size: 14px;
    font-weight: normal
}

.input-form-label-first {
    margin-top: 30px;
}

.settings-account-info {
    height: 40px;
    color: #000245;
    font-size: 24px;
    background-color: rgb(235, 235, 228);
    border-color: transparent;
    border-style: none;
}

.input-form-field {
    border: 0;
    outline-width: 0;
    outline-style: none;
    border-bottom: 5px solid rgba(228, 232, 239, 1);
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
}

.input-form-field:focus {
    border-color: rgba(255, 54, 54, 1);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
}

.into-input {
    float: right;
    margin-right: 6px;
    margin-top: -36px;
    padding: 5px;
    position: relative;
    z-index: 2;
    color: #ffffff;
    border-radius: 50px;
    font-size: 20px;
}

.into-input-valid {
    background-color: green;
}

.into-input-invalid {
    background-color: red;
}