<div class="row bg-main-strong font-main-light">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    Logo
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="container-fluid"> 
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="score-title">{{scoreInfo.scoreTitle}}</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="font-secondary-strong score-factors-title">{{scoreInfo.factorsTitle}}</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="list-unstyled">
            {{#each scoreInfo.factors as |factor|}}
              <li>
                <i class="fa fa-times factor-symbol" aria-hidden="true"></i> 
                <span class="factor-reason">{{factor}}</span>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>