@media only screen and (min-width: 1200px) {
    .logout-btn {
        display: block;
        margin-bottom: 60px;
        width: 200px;
        height: 40px !important;
        border: 0 none;
    }

    .logout-btn:hover {
        font-family: merlo_neuebold_italic;
    }

    .settings-title {
        font-size: 36pt;
    }

    .settings-info {
        font-size: 16pt;
    }

    .settings-member {
        font-size: 20pt;
    }
}