.main-nav {
    height: 70px;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
    padding-left: 4px;
}

.navbar-item {
    display: inline-block;
}

.menu > i.hamburger {
    display: block;
    font-size: 32pt;
}

.menu > ul {
    display: none;
}

.logo {
    height: 65px;
    width: 85px;
}

/* Title*/
.title-main {
    margin-top: 90px;
    font-size: 36pt;
    color: #000245;
    font-family: merlo_neuebold_italic
}