<div class="container-fluid">
  {{layout-header logout=(action "logout") openSettings=(action "openSettings") openReports=(action "openReports")}}
</div>
<div class="container-fluid">
  <div class="row">
    {{outlet}}
  </div>
</div>