
<div class="row bg-main-light">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="powered-area align-middle">
        <div class="powered-text"> This report was generated on July 17, 2017 and will be updated in 22 days</div>
        <img class="powered-logo pull-right" src="/assets/experian.png"/>
      </div>
  </div>
</div>