
<div class="row bg-main-light">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="powered-area">
        <div class="powered-text"> This report was generated on <span class="powered-highlighted">July 17, 2017</span> and will be updated in <span class="powered-highlighted">22 days</span></div>
        <img class="powered-logo pull-right" src="/assets/imgs/experian.png"/>
      </div>
  </div>
</div>