/* Company Info*/
.bussinessName {
  font-family: kaleidossmooth;
  font-size: 30pt;
  color: #000245;
}

.info-label {
  display: block;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: merlo_neuebold_italic;
  margin-top: 30px;
}

.other-company-info {
  font-size: 20pt;
  font-family: merlo_neueregular;
  color: #000245;
}

.arrow-red {
  background-color: #FF3636;
}

.arrow-red:hover {
  background-color: #FF5050;
}

.arrow-ring {
  width: 40px;
  height: 40px;
  font-size: 20pt;
  color: #FFFFFF;

  border-radius: 50%;
  display: inline-table;
  text-align: center;
  vertical-align: middle;  
}

/*Tax Area*/
.tax-ring { 
  width: 170px;
  height: 170px;
  font-size: 20pt;
  color: #FFFFFF;
  background-color: #000245;

  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.tax-title {
  text-transform: uppercase;
  font-size: 14pt;
  font-family: merlo_neuebold_italic;
  color: #FF3636;
  padding-top: 20px;
}

.tax-hashed {
  margin-top: 15px;
  font-size: 16pt;
  font-family: merlo_neueregular;
}

.tax-number {
  font-family: merlo_neuesemi_bold;
}
  
/* Report Counter */
.counter-ring {
  width: 250px;
  height: 250px;
  font-size: 20pt;
  color: #FFFFFF;
  background-color: #FF3636;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
  
.inner-counter {
  background-image: url("/assets/imgs/refresh-date.png");
  background-size: 230px;
  background-repeat: no-repeat;
}

.counter-update {
  margin-top: 10px;
  font-size: 12pt;
  font-family: merlo_neuebold_italic;
  color: #FFFFFF;
}

.counter-update-number {
  font-size: 84pt;
  font-family: kaleidossmooth;
  color: #FFFFFF;
}

.counter-update-days {
  font-size: 22pt;
  font-family: merlo_neuesemi_bold_italic;
  color: #ffffff;
  margin-bottom: 15px;
}

/* Spacing */
.company-details-bottom-space {
  margin-bottom: 80px;
}